@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;

}
body{
  background-color:rgba(233, 173, 10, 0.507);
  
}
.rating-color {
  color: #fbc634 !important;
}

.small-ratings i {
  color: #cecece;
}

.review-stat {
  font-size: 18px;
}
.subtotal{
  border-top: lightgray 1px solid;
  }
.product-img{
  padding: 3%;
}


nav,footer{
  background: rgba(250, 166, 11, 0.671);
  backdrop-filter: blur( 4  px );
  -webkit-backdrop-filter: blur( 8px );
  -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.75);
}

/* header .row{
  padding: 5px 15%;
} */

.headercss{
  position: absolute;
  right: 0;
  width: 500px;
  height: 10%;
  border: 1px;
  box-shadow: 0px 0px 1px 1px rgba(22, 22, 22, 0.993);
  border-radius: 15px;
  margin-right: 50px;
  background-color: lightgoldenrodyellow;
  padding: 6px;
}

.cardcss{
  margin-top: 10%;
  margin-bottom: 2%;
  max-width: 70%;
}

  
@media screen and (max-width: 500px) {
  .cardcss {
    margin-top: 15%;
  }
}

.pay{
  position: absolute;
  right:10px;
  bottom: 10px;

}
.card{
  background-color:lightgoldenrodyellow;
}